apturl
bcrypt
blinker
Brlapi
certifi
chardet
chrome-gnome-shell
click
colorama
command-not-found
configobj
cryptography
cupshelpers
dbus-python
defer
distlib
distro
distro-info
duplicity
fasteners
filelock
future
greenlet
httplib2
idna
importlib-metadata
jeepney
keyring
language-selector
launchpadlib
lazr.restfulclient
lazr.uri
lockfile
louis
macaroonbakery
monotonic
more-itertools
msgpack
netifaces
oauthlib
olefile
paramiko
pexpect
Pillow
platformdirs
protobuf
psutil
ptyprocess
pycairo
pycups
PyGObject
PyJWT
pymacaroons
PyNaCl
pynvim
pyparsing
pyRFC3339
python-apt
python-dateutil
python-debian
pytz
pyxdg
PyYAML
reportlab
requests
SecretStorage
six
systemd-python
terminator
ubuntu-drivers-common
ubuntu-pro-client
ufw
unattended-upgrades
urllib3
usb-creator
virtualenv
wadllib
xdg
xkit
zipp